<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="css/main.css">

	<title>artist</title>
</head>
<body>



   <!--  form -->
   <h1 class="h1">AJOUTER NOUVEAU PRODUCT</h1>
   <form action="/home"  method="post" >
    
        
       <div class="row">
        <div class="col">
          <input type="text" name="image" class="form-control" id="validationServer01" placeholder="Product Image" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="name" id="validationServer02" placeholder="Product Name" required>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <input type="text" name="matricul" class="form-control" id="validationServer03" placeholder="Matricul" required>
        </div>
        <div class="col">
          <input type="text" name="price" class="form-control" id="validationServer04" placeholder="Price" required>
        </div>
      </div>

      <div class="row">
        <button type="submit" class="btn btn-warning">Ajouter</button>
      </div>
          
    </form>



 <div class="container-fluid">
 	
   <h1>PRODUCTS</h1>
           <br>
      <div class="row mb-5">
      
         <%if (json.length > 0) {%>
         <%for(i in json) {%>
              
          <div class="col-3" >
          	<div class="card">
               	
               <img src="pics/<%= json[i].image%>" class="card-img-top1"  style="width:100%; height: 260px;">
                   
               <div class="card-body">
                 <p>Name product: <span class="card-title align-center" ><%= json[i].name%></span></p>
                 <p>Matricul: <span class="card-text align-center"><%= json[i].matricul%></span></p>
                 <p>Price: <span class="card-text align-center"><%= json[i].price%>$</span></p>
          
                 <a href="/delete/<%= json[i].id %>" class="btn btn-danger"> Delete </a>
                 <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" id="rvn" onclick="get(this)" name="<%= json[i].id %>" > Edit </button>
                </div>
                                        
            </div>
         </div>
              <%}%>
               
              <%}%>
              
      </div>
   </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="modal-title">Edit product</h1>
          <button type="button" class="close" data-dismiss="modal">×</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
           <form action="/up" method="post">
              <div class="form-group">
                 <input type="hidden" id="vv" name="id" value="" >
                 <label for="exampleInputPassword1">Product image</label>
                 <input class="form-control"  class="form-control is-valid" name="image" required="on">
              </div>
                
              <div class="form-group">
                  <label for="exampleInputPassword1">Product Name</label>
                  <input class="form-control" class="form-control is-valid" name="name" id="title" required="on">
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Matricul</label>
                <input class="form-control" class="form-control is-valid" name="matricul" required="on">
            </div>
                
              <div class="form-group">
                 <label for="exampleInputPassword1">Price</label>
                 <input class="form-control" class="form-control is-valid" name="price" id="author" required="on">
              </div>
              
                
               <button id="button-edit" type="submit" class="btn btn-danger">submit</button>
      </div>
          </form>
        
      </div>
    </div>
  </div>

        
<script>
	
	       var cc = document.getElementById("vv");
           function get(ev) {
	    let bn = ev.name;
	    console.log(bn);
           
            cc.value = bn;
           
}
</script>

</body>
</html>